<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitgle.mapper.FollowerMapper">

    <resultMap id="BaseResultMap" type="com.gitgle.dao.Follower">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="followerLogin" column="follower_login" jdbcType="VARCHAR"/>
            <result property="followingLogin" column="following_login" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="followerId" column="follower_id" jdbcType="INTEGER"/>
            <result property="followingId" column="following_id" jdbcType="INTEGER"/>
            <result property="followerAvatarUrl" column="follower_avatar_url" jdbcType="VARCHAR"/>
            <result property="followingAvatarUrl" column="following_avatar_url" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,follower_login,following_login,
        create_time,update_time,follower_id,
        following_id,follower_avatar_url,following_avatar_url
    </sql>
</mapper>
