<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitgle.mapper.GithubUserMapper">


    <select id="searchByCondition" resultType="com.gitgle.service.resp.SearchUser">

        SELECT DISTINCT github_user.login, avatar, talent_rank from github_user
        LEFT JOIN user_domain on github_user.login=user_domain.login
        LEFT JOIN domain on domain.id = user_domain.domain_id
        <where>
            <if test="req.domain != null and req.domain != ''">
                AND domain = #{req.domain}
            </if>
            <if test="req.login != null and req.login != ''">
                AND github_user.login like concat('%', #{req.login}, '%')
            </if>
            <if test="req.nation != null and req.nation != ''">
                AND nation like concat('%', #{req.nation}, '%')
            </if>
        </where>
        ORDER BY talent_rank desc
            LIMIT #{current}, #{size}

    </select>
    <select id="searchCount" resultType="java.lang.Integer">
        SELECT COUNT(*) from github_user
        LEFT JOIN user_domain on github_user.login=user_domain.login
        LEFT JOIN domain on domain.id = user_domain.domain_id
        <where>
            <if test="domain != null and domain != ''">
                AND domain = #{domain}
            </if>
            <if test="login != null and login != ''">
                AND github_user.login like concat('%', #{login}, '%')
            </if>
            <if test="nation != null and nation != ''">
                AND nation like concat('%', #{nation}, '%')
            </if>
        </where>
    </select>
</mapper>
