<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitgle.mapper.GithubUserMapper">


    <select id="searchByCondition" resultType="com.gitgle.service.resp.SearchUser">
        SELECT github_user.login, avatar, talent_rank, nation, location, nation_english, CAST(GROUP_CONCAT(user_domain.domain SEPARATOR ', ') as CHAR(10000)) AS domains
        FROM
        github_user
        LEFT JOIN
        user_domain ON github_user.login = user_domain.login
        LEFT JOIN
        domain d ON d.id = user_domain.domain_id
        <where>
            <if test="req.domain != null and req.domain != ''">
                AND domain like concat('%', #{req.domain}, '%')
            </if>
            <if test="req.login != null and req.login != ''">
                AND github_user.login like concat('%', #{req.login}, '%')
            </if>
            <if test="req.nation != null and req.nation != ''">
                AND nation like concat('%', #{req.nation}, '%')
            </if>
        </where>
        GROUP BY
        github_user.login, avatar, talent_rank, nation, location, nation_english
        ORDER BY talent_rank desc
        LIMIT #{current},#{size}

    </select>
    <select id="searchCount" resultType="java.lang.Integer">
        SELECT COUNT(DISTINCT github_user.login) from github_user
        LEFT JOIN user_domain on github_user.login=user_domain.login
        LEFT JOIN domain on domain.id = user_domain.domain_id
        <where>
            <if test="req.domain != null and req.domain != ''">
                AND domain like concat('%', #{req.domain}, '%')
            </if>
            <if test="req.login != null and req.login != ''">
                AND github_user.login like concat('%', #{req.login}, '%')
            </if>
            <if test="req.nation != null and req.nation != ''">
                AND nation like concat('%', #{req.nation}, '%')
            </if>
        </where>
    </select>
</mapper>
