<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitgle.mapper.UserMapper">


    <select id="selectUsersCondition" resultType="com.gitgle.service.resp.RankResp">
        SELECT user.id as userId, username, nation, domain, talent_rank, github_id
        FROM user
        INNER JOIN domain ON user.domain_id = domain.id
        INNER JOIN nation ON user.nation_id = nation.id
        <where>
            <if test="req.domainId != null and req.domainId != ''">
                AND user.domain_id = #{req.domainId}
            </if>
            <if test="req.nationId != null and req.nationId != ''" >
                AND user.nation_id = #{req.nationId}
            </if>
            <if test="req.username != null and req.username !=''">
                AND user.username like concat('%',#{req.username},'%')
            </if>
        </where>
        <if test="current != null and size != null and current !='' and size != ''">
            LIMIT #{current}, #{size}
        </if>
    </select>
</mapper>
